<a href="https://colab.research.google.com/github/swatibhogesh/swatibhogesh/blob/main/Practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import datetime

DataFrame

In [2]:
students = ['Alice','Bob','Emily','Charlie']

In [3]:
scores = [90,80,65,50]

In [4]:
exam_results = pd.DataFrame(
{
    "Name" : students,
    "Scores" : scores
}
)

In [6]:
exam_results

      Name  Scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

In [7]:
exam_results.loc[0,'Scores']

90

In [8]:
exam_results.loc[:,'Scores']

0    90
1    80
2    65
3    50
Name: Scores, dtype: int64

In [10]:
exam_results.loc[2,:]

Name      Emily
Scores       65
Name: 2, dtype: object

In [11]:
exam_results["Scores"]

0    90
1    80
2    65
3    50
Name: Scores, dtype: int64

Add Colums to existing Dataframe

In [13]:
gender = ['Female','Male','Female','Male']

In [14]:
exam_results['gender'] = gender

In [15]:
exam_results

      Name  Scores  gender
0    Alice      90  Female
1      Bob      80    Male
2    Emily      65  Female
3  Charlie      50    Male

In [16]:
exam_results['gender']

0    Female
1      Male
2    Female
3      Male
Name: gender, dtype: object

To remove column from Data Frame

In [17]:
exam_results.drop('Name',axis=1)

   Scores  gender
0      90  Female
1      80    Male
2      65  Female
3      50    Male

In [19]:
exam_results
#The name doesnt get deeleted permanently
#exam_results.drop('Name',axis=1,inplace=True) - This delets the column permanently

      Name  Scores  gender
0    Alice      90  Female
1      Bob      80    Male
2    Emily      65  Female
3  Charlie      50    Male

Column names and Row Indexes

In [20]:
exam_results.columns

Index(['Name', 'Scores', 'gender'], dtype='object')

In [21]:
exam_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Scores  4 non-null      int64
 2   gender  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [24]:
exam_results.describe()
#It gives Statistics of the dataframe

       Scores
count    4.00
mean    71.25
std     17.50
min     50.00
25%     61.25
50%     72.50
75%     82.50
max     90.00

To rename Column Names

In [27]:
exam_results.rename({'Name':'FirstName'},axis=1)

  FirstName  Scores  gender
0     Alice      90  Female
1       Bob      80    Male
2     Emily      65  Female
3   Charlie      50    Male

To deal with missing values

In [28]:
sparse = pd.DataFrame(
    {'a':[1,2,3],
    'b':[np.nan,4,np.nan],
    'c':[5,np.nan,np.nan]}
)

In [29]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [30]:
sparse.isna()
#To check which values are null.It shows True to which values are null

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [31]:
sparse.fillna(0)
#To fill null datas as 0(To fill null values with what we want)

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [32]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [33]:
sparse.dropna(axis=1)
#To drop null values
#The column whuch contain null values are dropped

   a
0  1
1  2
2  3

Group By

In [34]:
exam_results

      Name  Scores  gender
0    Alice      90  Female
1      Bob      80    Male
2    Emily      65  Female
3  Charlie      50    Male

In [36]:
exam_results.groupby('gender').mean()
#Grouped them based on gender and mean of scores

        Scores
gender
Female    77.5
Male      65.0

In [37]:
mylist=[1,2,1,2]

exam_results.groupby(mylist).get_group(1)

    Name  Scores  gender
0  Alice      90  Female
2  Emily      65  Female

In [41]:
exam_results.groupby(mylist).get_group(2)

      Name  Scores gender
1      Bob      80   Male
3  Charlie      50   Male

In [39]:
exam_results.groupby('gender').get_group('Male')

      Name  Scores gender
1      Bob      80   Male
3  Charlie      50   Male

In [44]:
#Group the people who obtained marks aove or below 70

above_70 = exam_results['Scores'] > 70
above_70
#people whose marks were above 70 are returned as True

0     True
1     True
2    False
3    False
Name: Scores, dtype: bool

In [43]:
exam_results

      Name  Scores  gender
0    Alice      90  Female
1      Bob      80    Male
2    Emily      65  Female
3  Charlie      50    Male

In [46]:
#Mean for students whose score are above or below 70
exam_results.groupby(above_70).mean()

        Scores
Scores
False     57.5
True      85.0

Merging and Joining

In [49]:
contacts = pd.DataFrame(
    {
        'Name':['Alice','Charlie'],
        'Tel' :['+91 999 999 99 99','+91 888 888 88 88']  
       }
)

In [50]:
contacts

      Name                Tel
0    Alice  +91 999 999 99 99
1  Charlie  +91 888 888 88 88

In [51]:
exam_results.merge(contacts, left_on='Name',right_on='Name')
#defaults to inner join

      Name  Scores  gender                Tel
0    Alice      90  Female  +91 999 999 99 99
1  Charlie      50    Male  +91 888 888 88 88

In [53]:
exam_results.merge(contacts,left_on='Name',right_on='Name',how='outer')

      Name  Scores  gender                Tel
0    Alice      90  Female  +91 999 999 99 99
1      Bob      80    Male                NaN
2    Emily      65  Female                NaN
3  Charlie      50    Male  +91 888 888 88 88